.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed : hsl(5, 85%, 63%);

    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
    --paragraphTextSize: 15px;
}
@font-face {
    font-family: myfont;
    src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
*{
    font-family: myfont;
}